body {text-align: justify; width:750px;max-width:800px; margin-right:auto;margin-left:auto;font-family: Arial;color:#4B4A4A;}
figure {padding: 0px 300px 0px 0px;}
.rat {color:#851B05;}
.tot {font-family:times;}
.rou{padding: 200px;
{}